@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');


*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: #2b2a33;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
header{
    text-align: center;
}
header h1{
    font-size: 3.5rem;
    margin :3.5rem;
}

h1,h2,h3,h4,p, figure,ol,ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: 300;
    font-size: i;
}

body{
    font: 1.6rem;
    margin: 0;
}

a{
    text-decoration: none ;
    color: #222;
}

.container-faq{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    
    
}
.questions{
    width: 100%;
    max-width: 60rem;
}
.container-faq>.questions>.visible-pannel{
    display: flex;
    background-color: #fff;
    border-radius: 1rem;
    color: #2b2a33;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}
.visible-pannel h2{
    margin-left: 1rem;
    font-size: 2rem;
}
.visible-pannel img{
    max-width: 2rem;
    margin-right: 1rem;
}

.toggle-pannel{
    opacity: 0;
    width: 0;
    height: 0;
}


button, input, select, option{
    background: none;
    border: 0;
}
footer{
    width: 100%;
    text-align: center;
    margin: 1.8rem;
    font-size: medium;
}